SLACK_SIGNING_SECRET=my_secret_slack_signing_secret_for_the_app
CLIENT_ID=abc123.apps.googleusercontent.com
CLIENT_SECRET=blah
# Not a secret, more like config
REDIRECT_URI='http://localhost:8080/redirectUri'