CUSTOM_DOMAIN_NAME=my.app.example.com
R53_ZONE_ID=ZXYZ123
LAMBDA_VERSION=0.0.1

SLACK_SECRET=alphanum
BOT_USER_OAUTH_TOKEN=xoxb-alphahum
CLIENT_ID=alphanum.apps.googleusercontent.com
CLIENT_SECRET=alphanum
# Not a secret, more like config
REDIRECT_URI='https://slashmeet.my.app.example.com/0_0_1/redirectUri'


