# For Lambda and Cognito stacks
USERPOOL_ID=eu-west-2_LETTERSANDNUMBERS

# For Web and Lambda stacks
CUSTOM_DOMAIN_NAME=minecraft.example.com
R53_ZONE_ID=ZLETTERSANDNUMBERS

# For the Lambda Stack
LAMBDA_VERSION=0.0.1
CLIENT_IDS=lettersandnumbers morelettersandnumbers
GET_LAMBDA_VALID_GROUP_NAMES=read-only-group read-write-group
POST_LAMBDA_VALID_GROUP_NAMES=read-write-group
MINECRAFT_EC2_INSTANCE_ID=i-lettersandnumbers
ACCESS_CONTROL_ALLOW_ORIGIN=com.example.minecraft

# For the Cognito Stack
MOBILE_CLIENT_NAME=minecraft-on-demand-mobile-app
MOBILE_CALLBACK_URLS=com.example.minecraft://loggedin
MOBILE_LOGGEDOUT_URLS=com.example.minecraft://loggedout
WEB_CLIENT_NAME=minecraft-on-demand-web-app
WEB_CALLBACK_URLS=https://minecraft.example.com/login
WEB_LOGGEDOUT_URLS=https://minecraft.example.com/logout

