# IAM OIDC Setup Configuration
ROLE_NAME=SlashMeetGitHubDeployRole
REPO=andysturrock/slashmeet
PROVIDER_URL=token.actions.githubusercontent.com
AUDIENCE=sts.amazonaws.com
THUMBPRINT=6938fd4d98bab03faadb97b34396831e3780aea1
